<!doctype html>
<html>
<head>
    <meta charset="UTF-8">

    <title>知乎日报</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<body>
    <div>
        <%- body %>
    </div>
</body>

</html>