<link rel="stylesheet" href="http://news-at.zhihu.com/css/news_qa.auto.css"></link>

<style>

    .comment{
        padding: 20px;
    }

    .user-info{
        width: 65px;
    }

    .box{
        position: relative;
        float: left;
    }

    .box img{
        margin: 0;
        padding-right: 15px;
        height: 50px;
        width: 65px;
    }

    .text-box{
        width: 65px;
        word-break: break-word;
    }
</style>

<div>
    <div class="body">
        <%- html %>
    </div>
    <div class="comment">
        <table class="table table-striped">
            <tbody>
                <% for (var i = 0; i < comments.length; i++) {%>
                    <tr>
                        <td class="user-info">
                            <div class="box">
                                <% var url = 'http://zhihu.garychang.cn/tiny-pic?img=' + comments[i].avatar %>
                                <img src=<%= url%>>
                                <div class="text-box">
                                    <p><%= comments[i].author%></p>
                                </div>
                            </div>
                        </td>
                        <td><%= comments[i].content%></td>
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</div>